.header {
    display: flex;
    justify-content: space-between;
}
.lobby-container {
    background-color: #FFFAED;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #9E9E9E;
}
