.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px;
}
.lobby-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}
