@font-face {
    font-family: "Consola";
    src: local("Consola"),
    url("./fonts/consola.ttf") format("truetype");
    font-weight: normal;
}

html, body, #root {
    height: 100%;
}

.loggedInNav, .loggedOutNav {
    background-color: rgb(235, 126, 126);
    align-items: center;
    font-weight: bold;
}